#app-container{
    background: #222222;
}

.profile-banner {
    color: whitesmoke;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftbanner {
    text-align: center;
}

.leftbanner>p>span {
    font-size: 2rem;
    font-family: "Montserrat ExtraBold", serif;
}

#pfp {
border: whitesmoke 3px solid;
    border-radius: 50%;
}

.rightbanner {
    width: 50%;
    text-align: center;
}

.rightbanner>p>a{
    text-decoration: none;
    color: #a7b9ce;
}