#app-container{
    background: #222222;
    color: whitesmoke;
}

#contact-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials {
    width: 85%;
    margin: 1rem;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;

}

.formarea {
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: scroll;
}

.formarea::-webkit-scrollbar {
    display: none;
}

.form {
    border-radius: 2%;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
}

.illustration {
    justify-self: flex-start;
    position: relative;
}

.illustration>img {
    height: 400px;
    width: 600px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.form-group>input {
    width: 20rem;
    height: 2rem;
    border: none;
    border-bottom: 2px solid whitesmoke;
    background-color: #333333;
    color: whitesmoke;
}

.form-group>textarea {
    border: none;
    border-bottom: 2px solid whitesmoke;
    background-color: #333333;
    color: whitesmoke;
}

.form-group>button {
    font-family: "Montserrat", serif;
    height: 2rem;
    width: 5rem;
    align-self: center;
    background-color: #ff6584;
    border: solid 1px #ff6584;
    border-radius: 12px;
}

#flash{
    height: 6rem;
    font-size: 1rem;
    border: 2px solid #ff6584;
    display: none;
    text-align: center;
}